matplotlib
pandas
numpy
ollama
requests
tqdm
Pillow
huggingface_hub
datasets
evaluate
jupyter
ipywidgets
scikit-learn
cookiecutter-data-science
nltk 
rouge_score
sacrebleu
lighteval
accelerate
dotenv
loguru
torch # Special command for gpu support
transformers
seaborn
timm
decord
einops
av==11.0.0
bitsandbytes
ffmpeg<8.0.0
imageio
opencv-python
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
py7zr==0.20.4
multivolumefile
kagglehub
torchvision
fiftyone
pytube
wandb
torchmetrics
torchcodec==0.7
fvcore